Repository front-end-by-rimantas/35-grupe-portfolio-braintech, pull requests merged in 2022-04, with the labels that each got.

#22 Header stucture
  css/pages/home.css
  img/logo-light.png
  index.html
Labels: HTML

#88 firs JS commit
  index.html
  js/components/features/features.js
  js/data/aboutUsData.js
  js/data/servicesData.js
  js/data/whyChooseUs.js
  js/pages/home.js
Labels: HTML, JS

#93 updeted fonts
  css/3rd-party/font-awesome.min.css
  css/base/base.css
  css/components/features.css
  css/pages/home.css
  fonts/fontawesome/FontAwesome.otf
  fonts/fontawesome/fontawesome-webfont.eot
  fonts/fontawesome/fontawesome-webfont.svg
  fonts/fontawesome/fontawesome-webfont.ttf
  fonts/fontawesome/fontawesome-webfont.woff
  fonts/fontawesome/fontawesome-webfont.woff2
  index.html
Labels: HTML, JS

#99 Why choose us js
  css/components/features.css
  img/why-choose-us/icon1.png
  img/why-choose-us/icon2.png
  img/why-choose-us/icon3.png
  index.html
  js/components/features/features.js
  js/data/whyChooseUs.js
  js/pages/home.js
Labels: HTML, JS

#115 About us percentage
  css/pages/home.css
  img/abous_us/bar.png
  index.html
  js/components/aboutUsNext/aboutUsNext.js
  js/data/aboutUsData.js
  js/pages/home.js
Labels: CSS, HTML, JS

#118 Lets talk
  css/components/lets-talk.css
  css/pages/home.css
  index.html
  js/components/lets-talk/lets-talk.js
  js/data/letstalkData.js
  js/pages/home.js
Labels: CSS, HTML, JS

#121 About us first
  css/components/aboutUsFirst.css
  css/pages/home.css
  index.html
  js/components/aboutUsNext/aboutUs.js
  js/components/aboutUsNext/aboutUsNext.js
  js/data/aboutUsData.js
  js/pages/home.js
Labels: CSS, HTML, JS

#123 Blogs
  css/components/blogs.css
  css/pages/home.css
  img/blogs/1.jpg
  img/blogs/2.jpg
  img/blogs/3.jpg
  img/blogs/4.jpg
  img/blogs/5.jpg
  img/blogs/6.jpg
  index.html
  js/components/blogs/blogs.js
  js/data/blogsData.js
  js/pages/home.js
Labels: CSS, JS

#138 Companies JS before slider
  css/components/partners1.css
  css/components/partners2.css
  css/pages/home.css
  img/companies/partners1/1.png
  img/companies/partners1/2 .png
  img/companies/partners1/3.png
  img/companies/partners1/4.png
  img/companies/partners1/5.png
  img/companies/partners1/6.png
  img/companies/partners1/7.png
  img/companies/partners1/8.png
  index.html
  js/components/blogs/blogs.js
  js/components/partners/partners.js
  js/components/partners/partners2.js
  js/data/partnersData.js
  js/data/partnersData2.js
  js/pages/home.js
Labels: CSS, JS

#148 127 search expander blue page
  css/components/search.css
  css/pages/home.css
  index.html
  js/components/search/search.js
  js/pages/home.js
Labels: CSS, HTML, JS

#163 blogs-initial-carousel-js
  css/components/blogs.css
  index.html
  js/components/blogs-carousel/blogs-carousel.js
  js/components/blogs-carousel/blogs.js
  js/components/blogs/blogs.js
  js/data/blogsData.js
  js/pages/home.js
Labels: JS

#166 Blogs slide js
  css/components/blogs.css
  js/components/blogs-carousel/blogs-carousel.js
  js/components/blogs-carousel/blogs.js
  js/pages/home.js
Labels: CSS, JS
